.clear { clear: both; }

#epaper_content{background:#FFF;z-index:2;position:absolute;width:770px;
padding-bottom:20px;font-size:18px;font-family:'標楷體';margin-left:15px;margin-top:15px;}

p{padding-left:15px;padding-right:15px;}
#content{padding-left:35px;padding-right:35px;}

li{padding-bottom:5px;}

#epaper_content img{display:block; margin:0px auto 30px auto;}

.epaper_content_head{background: rgb(48,117,186); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNzViYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzZlYzFjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZGM2Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(48,117,186,1) 0%, rgba(110,193,204,1) 48%, rgba(157,198,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(48,117,186,1)), color-stop(48%,rgba(110,193,204,1)), color-stop(100%,rgba(157,198,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(48,117,186,1) 0%,rgba(110,193,204,1) 48%,rgba(157,198,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(48,117,186,1) 0%,rgba(110,193,204,1) 48%,rgba(157,198,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(48,117,186,1) 0%,rgba(110,193,204,1) 48%,rgba(157,198,204,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(48,117,186,1) 0%,rgba(110,193,204,1) 48%,rgba(157,198,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3075ba', endColorstr='#9dc6cc',GradientType=1 ); /* IE6-8 */ font-family: '微軟正黑體';
color:#FFF;
padding-left:30px;
font-size:22px;
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;
font-weight:bold;
}

#epaper_content_words{padding-left:40px;width:700px}

.top{
padding-left:650px; 
margin-bottom:5px;
margin-top:5px;
font-weight: bold;
font-family:'標楷體';
font-size: 23px;
color: rgb(10, 10, 177); <!--同首頁字顏色-->
}

.top:hover{
color:#c01120;
}

